
img#countryFlag{
    width:40%;
    height:30%;
    margin-left:30%;

}
ul{
    list-style: none;
    text-align:center
}
h1{
    font-size:6rem;
    text-transform: capitalize;
}
h4{
    color:#4444ff;
    font-size:4rem;
    text-decoration: underline;
}
h3{
    color:#4444ff;
    font-size:3rem;
}